{% extends 'admin/user/base.html.twig' %}

{% block body %}

    <div id="page-admin-user-delete">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-4 border-bottom">
            <h1 class="h2">{{ user }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group btn-group-sm">
                    <a href="{{ path('app_admin_user_show',{uuid:user.uuid}) }}" class="btn btn-outline-secondary">
                        <span class="fa fa-list"></span>
                        {{ 'action.back'|trans }}
                    </a>
                </div>
            </div>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="mt-4 offset-sm-2">
            <button type="submit" class="btn btn-danger">
                <span class="fa fa-trash"></span>
                {{ 'action.delete'|trans }}
            </button>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}
