{% extends 'admin/user/base.html.twig' %}

{% block page_title %}{{ user }}{% endblock %}

{% block page_menu %}
    <a href="{{ path('app_admin_user_show',{uuid:user.uuid}) }}" class="btn btn-outline-secondary">
        <span class="fa fa-list"></span>
        {{ 'action.back'|trans }}
    </a>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.enabled) }}
    {{ form_row(form.role,{attr:{'data-client-location-url':path('app_admin_user_client_select'),class:'js-user-form-roles'}}) }}
    <div class="js-client-location-target">
        {% if form.client is defined %}
            {{ form_row(form.client) }}
        {% endif %}
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-success">
            <span class="fa fa-save"></span>
            {{ 'action.save'|trans }}
        </button>
        <a href="{{ path('app_admin_user_show',{uuid:user.uuid}) }}" class="btn btn-outline-secondary">
            <span class="fa fa-times"></span>
            {{ 'action.cancel'|trans }}
        </a>
    </div>
    {{ form_end(form) }}

{% endblock %}
