{% extends 'admin/user/base.html.twig' %}

{% block page_title %}{{ 'menu.admin.user'|trans }}{% endblock %}

{% block page_menu %}
    <a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target=".filters">
        <span class="fa fa-filter"></span>
        <span class="d-none d-md-inline">{{ 'filters'|trans }}</span>
        {% if search.filter|length>0 %}
            <small>({{ search.filter|length }})</small>
        {% endif %}
    </a>
    <a href="{{ path('app_admin_user_new') }}" class="btn btn-outline-primary">
        <span class="fa fa-plus"></span>
        <span class="d-none d-md-inline">{{ 'action.add'|trans }}</span>
    </a>
{% endblock %}

{% block body %}

    <table class="table mt-4">
        <thead>
        <tr>
            <th>{% include '_sort.html.twig' with {code:'username',name:'field.username',search:search} only %}</th>
            <th class="d-none d-md-table-cell">{% include '_sort.html.twig' with {code:'role',name:'field.role',search:search} only %}</th>
            <th class="d-none d-sm-table-cell">{% include '_sort.html.twig' with {code:'enabled',name:'field.enabled',search:search} only %}</th>
            <th class="d-none d-md-table-cell">{% include '_sort.html.twig' with {code:'client',name:'field.client',search:search} only %}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('app_admin_user_show',{uuid:user.uuid}) }}">{{ user.username }}</a></td>
                <td class="d-none d-md-table-cell">{{ user.role|trans }}</td>
                <td class="d-none d-sm-table-cell">
                    {% if user.enabled %}
                        <span class="text-success">{{ 'yes'|trans|capitalize }}</span>
                    {% else %}
                        <span class="text-danger">{{ 'no'|trans|capitalize }}</span>
                    {% endif %}
                </td>
                <td class="d-none d-md-table-cell">
                    {% if user.client %}
                        <a href="{{ path('app_client_show',{uuid:user.client.uuid}) }}">
                            {{ user.client }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="p-5 text-center text-muted">{{ 'no_results_for_your_search'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '_pagination.html.twig' with {search:search,results:users|length} only %}

    {% include '_filters.html.twig' with {formSearch:formSearch,search:search} only %}

{% endblock %}
