{% extends 'admin/user/base.html.twig' %}

{% block page_title %}{{ user }}{% endblock %}

{% block page_menu %}
    <a href="{{ path('app_admin_user_edit',{uuid:user.uuid}) }}" class="btn btn-outline-primary">
        <span class="fa fa-pencil"></span>
        {{ 'action.edit'|trans }}
    </a>
    <a href="{{ path('app_admin_user_index') }}" class="btn btn-outline-secondary">
        <span class="fa fa-list"></span>
        {{ 'action.back'|trans }}
    </a>
{% endblock %}

{% block body %}

    <div class="mt-2">
        <div class="text-muted small">{{ 'field.username'|trans }}</div>
        <div>{{ user.username }}</div>
    </div>

    <div class="mt-2">
        <div class="text-muted small">{{ 'field.roles'|trans }}</div>
        <div><span class="badge badge-secondary badge_{{ user.role|lower }}">{{ user.role|trans }}</span></div>
    </div>

    <div class="mt-2">
        <div class="text-muted small">{{ 'field.enabled'|trans }}</div>
        <div>
            {% if user.enabled %}
                <span class="badge badge-success"><span class="fa fa-check"></span> {{ 'yes'|trans }}</span>
            {% else %}
                <span class="badge badge-warning"><span class="fa fa-times"></span> {{ 'no'|trans }}</span>
            {% endif %}
        </div>
    </div>

    {% if user.client %}
        <div class="mt-2">
            <div class="text-muted small">{{ 'field.client'|trans }}</div>
            <div>
                <a href="{{ path('app_client_show',{uuid:user.client.uuid}) }}">
                    {{ user.client }}
                </a>
            </div>
        </div>
    {% endif %}

    {% if app.user.id!=user.id %}

        <h5 class="mt-5 pb-2 border-bottom">{{ 'danger_zone'|trans }}</h5>

        <div class="mt-4">
            <a href="{{ path('app_admin_user_delete',{uuid:user.uuid}) }}" class="btn btn-outline-danger btn-sm">
                <span class="fa fa-trash"></span>
                {{ 'action.delete_user'|trans }}
            </a>
        </div>

    {% endif %}

{% endblock %}
