{% block _invoice_address_label %}
    <label for="{{ id }}" class="{% if required %}required{% endif %}">{{ label|trans }}</label>
{% endblock %}

{%- block _invoice_client_row -%}
    <div class="mb-3 row align-items-center">
        <div class="col-12 col-md-4">
            <label for="{{ form.vars.id }}" class="col-form-label {% if form.vars.required %} required{% endif %}">
                {{ form.vars.label|trans }}
            </label>
        </div>
        <div class="col-12 col-md-8">
            {{ form_widget(form) }}
        </div>
    </div>
{%- endblock -%}

{%- block _invoice_comment_row -%}
    <div class="mb-3 row align-items-center">
        <div class="col-12 col-md-4">
            <label for="{{ form.vars.id }}" class="col-form-label {% if form.vars.required %} required{% endif %}">
                {{ form.vars.label|trans }}
            </label>
        </div>
        <div class="col-12 col-md-8">
            {{ form_widget(form) }}
        </div>
    </div>
{%- endblock -%}

{%- block _invoice_commentInternal_row -%}
    <div class="mb-3 row align-items-center">
        <div class="col-12 col-md-4">
            <label for="{{ form.vars.id }}" class="col-form-label {% if form.vars.required %} required{% endif %}">
                {{ form.vars.label|trans }}
            </label>
        </div>
        <div class="col-12 col-md-8">
            {{ form_widget(form) }}
        </div>
    </div>
{%- endblock -%}

{%- block _invoice_currency_row -%}
    <div class="mb-3 row align-items-center">
        <div class="col-12 col-md-4">
            <label for="{{ form.vars.id }}" class="col-form-label {% if form.vars.required %} required{% endif %}">
                {{ form.vars.label|trans }}
            </label>
        </div>
        <div class="col-12 col-md-8">
            {{ form_widget(form) }}
        </div>
    </div>
{%- endblock -%}

{%- block _invoice_dueDate_row -%}
    <div class="mb-3 row align-items-center">
        <div class="col-12 col-md-4">
            <label for="{{ form.vars.id }}" class="col-form-label {% if form.vars.required %} required{% endif %}">
                {{ form.vars.label|trans }}
            </label>
        </div>
        <div class="col-12 col-md-8">
            {{ form_widget(form) }}
        </div>
    </div>
{%- endblock -%}

{%- block _invoice_issueDate_row -%}
    <div class="mb-3 row align-items-center">
        <div class="col-12 col-md-4">
            <label for="{{ form.vars.id }}" class="col-form-label {% if form.vars.required %} required{% endif %}">
                {{ form.vars.label|trans }}
            </label>
        </div>
        <div class="col-12 col-md-8">
            {{ form_widget(form) }}
        </div>
    </div>
{%- endblock -%}

{%- block _invoice_number_row -%}
    <div class="mb-3 row align-items-center">
        <div class="col-12 col-md-4">
            <label for="{{ form.vars.id }}" class="col-form-label {% if form.vars.required %} required{% endif %}">
                {{ form.vars.label|trans }}
            </label>
        </div>
        <div class="col-12 col-md-8">
            {{ form_widget(form) }}
        </div>
    </div>
{%- endblock -%}

{%- block _invoice_details_widget -%}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    <tbody {{ block('widget_attributes') }}>
    {%- for child in form -%}
        {{ form_row(child) }}
    {%- endfor -%}
    </tbody>
{%- endblock -%}

{%- block _invoice_details_entry_row -%}
    <tr id="{{ id }}">
        <td class="designation">{{ form_widget(form.designation) }}</td>
        <td class="quantity">{{ form_widget(form.quantity) }}</td>
        <td class="amount_unit">{{ form_widget(form.amountUnit) }}</td>
        <td class="amount_total">{{ form_widget(form.amountTotal) }}</td>
        <td class="actions">
            <div class="btn-group">
                <a href="#" class="btn btn-outline-info js-detail-copy">
                    <span class="fa fa-copy"></span>
                </a>
                <a href="#" class="btn btn-outline-danger js-detail-delete">
                    <span class="fa fa-trash"></span>
                </a>
            </div>
        </td>
    </tr>
{% endblock %}
