{% extends 'invoice/base.html.twig' %}

{% form_theme formEdit 'invoice/_fields.html.twig' %}

{% block body %}

    <div id="page-invoice-edit">

        <div class="d-flex flex-column flex-md-row justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><strong>{{ invoice.type|trans }} {{ invoice.number }}</strong></h2>
            <div class="btn-group mt-2 mt-md-0 mb-2">
                <a href="{{ path('app_invoice_show',{uuid:invoice.uuid}) }}" class="btn btn-outline-secondary">
                    <span class="fa fa-undo"></span>
                    {{ 'action.back'|trans }}
                </a>
            </div>
        </div>

        {{ form_start(formEdit) }}

        <div class="row mt-4">

            <div class="col-12 col-md-6">

                <fieldset>
                    <legend class="mb-3">Informations</legend>
                    {{ form_row(formEdit.client) }}
                    {{ form_row(formEdit.number) }}
                    {{ form_row(formEdit.issueDate) }}
                    {{ form_row(formEdit.dueDate) }}
                    {{ form_row(formEdit.currency) }}
                    {{ form_row(formEdit.comment) }}
                    {{ form_row(formEdit.commentInternal) }}
                </fieldset>

            </div>

            <div class="col-12 col-md-6">

                <fieldset>
                    <legend class="mb-3">{{ formEdit.address.vars.label|trans }}</legend>
                    <div>{{ form_widget(formEdit.address.name) }}</div>
                    <div class="mt-2">{{ form_widget(formEdit.address.address) }}</div>
                    <div class="row mt-2">
                        <div class="col-4 col-md-3">{{ form_widget(formEdit.address.postcode) }}</div>
                        <div class="col-8 col-md-9 pl-0">{{ form_widget(formEdit.address.city) }}</div>
                    </div>
                    <div class="mt-2">{{ form_widget(formEdit.address.country) }}</div>
                </fieldset>

            </div>

        </div>

        <h2 class="mb-md-4 mt-5 text-truncate">{{ formEdit.details.vars.label|trans }}</h2>

        {{ form_widget(formEdit.details) }}
        <div class="mt-2">
            <a href="#" class="btn btn-outline-primary js-detail-add">
                <span class="fa fa-plus"></span>
                {{ 'action.add'|trans }}
            </a>
        </div>

        <div class="row border-top mt-4 pt-4 align-items-center">
            <div class="col-4 col-md-1 offset-md-8 text-truncate">{{ formEdit.amountExcludingTax.vars.label|trans }}</div>
            <div class="col-8 col-md-2">{{ form_widget(formEdit.amountExcludingTax) }}</div>
        </div>
        <div class="row mt-2 align-items-center">
            <div class="col-4 col-md-1 offset-md-8 text-truncate">{{ formEdit.taxRate.vars.label|trans }}</div>
            <div class="col-8 col-md-2">{{ form_widget(formEdit.taxRate) }}</div>
        </div>
        <div class="row mt-2 align-items-center">
            <div class="col-4 col-md-1 offset-md-8 text-truncate">{{ formEdit.taxAmount.vars.label|trans }}</div>
            <div class="col-8 col-md-2">{{ form_widget(formEdit.taxAmount) }}</div>
        </div>
        <div class="row mt-2 align-items-center mb-5">
            <div class="col-4 col-md-1 offset-md-8 text-truncate">{{ formEdit.amountIncludingTax.vars.label|trans }}</div>
            <div class="col-8 col-md-2">{{ form_widget(formEdit.amountIncludingTax) }}</div>
        </div>

        <div class="fixed-bottom bg-light border-top p-2 text-center">
            <button type="submit" class="btn btn-success">
                <span class="fa fa-save"></span>
                {{ 'action.save'|trans }}
            </button>
            <a href="{{ path('app_invoice_show',{uuid:invoice.uuid}) }}" class="btn btn-outline-secondary">
                <span class="fa fa-undo"></span>
                {{ 'action.cancel'|trans }}
            </a>
        </div>

        {{ form_end(formEdit) }}

    </div>

{% endblock %}
