{% extends 'invoice/base.html.twig' %}

{% form_theme formEdit 'invoice/_fields.html.twig' %}

{% block body %}

    <div id="page-invoice-edit">

        <div class="d-flex flex-column flex-md-row justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><strong>{{ invoice.type|trans }} {{ invoice.number }}</strong></h2>
            <div class="btn-group mt-2 mt-md-0 mb-2">
                <a href="{{ path('app_invoice_show',{uuid:invoice.uuid}) }}" class="btn btn-outline-secondary">
                    <span class="fa fa-undo"></span>
                    {{ 'action.back'|trans }}
                </a>
            </div>
        </div>

        {{ form_start(formEdit) }}

        <div class="row mt-4">

            <div class="col-12 col-md-6">

                <fieldset>
                    <legend class="mb-3">Informations</legend>
                    {{ form_row(formEdit.client) }}
                    {{ form_row(formEdit.number) }}
                    {{ form_row(formEdit.issueDate) }}
                    {{ form_row(formEdit.dueDate) }}
                    {{ form_row(formEdit.currency) }}
                    {{ form_row(formEdit.comment) }}
                    {{ form_row(formEdit.commentInternal) }}
                </fieldset>

            </div>

            <div class="col-12 col-md-6">

                <fieldset>
                    <legend class="mb-3">{{ formEdit.address.vars.label|trans }}</legend>
                    <div>{{ form_widget(formEdit.address.name) }}</div>
                    <div class="mt-2">{{ form_widget(formEdit.address.address) }}</div>
                    <div class="row mt-2">
                        <div class="col-4 col-md-3">{{ form_widget(formEdit.address.postcode) }}</div>
                        <div class="col-8 col-md-9 pl-0">{{ form_widget(formEdit.address.city) }}</div>
                    </div>
                    <div class="mt-2">{{ form_widget(formEdit.address.country) }}</div>
                </fieldset>

            </div>

        </div>

        <h2 class="mb-md-4 mt-5 text-truncate">{{ formEdit.details.vars.label|trans }}</h2>

        <table class="table mb-5" id="invoice_details_container">
            <thead>
            <tr>
                <th>{{ 'field.designation'|trans }}</th>
                <th>{{ 'field.quantity'|trans }}</th>
                <th>{{ 'field.amount_unit'|trans }}</th>
                <th>{{ 'field.amount_excluding_tax'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th rowspan="4">
                    <a href="#" class="btn btn-outline-primary js-detail-add">
                        <span class="fa fa-plus"></span>
                        {{ 'action.add'|trans }}
                    </a>
                </th>
                <th colspan="2" class="text-right">
                    <label for="{{ formEdit.amountExcludingTax.vars.id }}" class="col-form-label">
                        {{ formEdit.amountExcludingTax.vars.label|trans }}
                    </label>
                </th>
                <th>{{ form_widget(formEdit.amountExcludingTax) }}</th>
                <th rowspan="4"></th>
            </tr>
            <tr>
                <th colspan="2" class="pt-0 text-right border-0">
                    <label for="{{ formEdit.taxRate.vars.id }}" class="col-form-label">
                        {{ formEdit.taxRate.vars.label|trans }}
                    </label>
                </th>
                <th class="pt-0 border-0">{{ form_widget(formEdit.taxRate) }}</th>
            </tr>
            <tr>
                <th colspan="2" class="pt-0 text-right border-0">
                    <label for="{{ formEdit.taxAmount.vars.id }}" class="col-form-label">
                        {{ formEdit.taxAmount.vars.label|trans }}
                    </label>
                </th>
                <th class="pt-0 border-0">{{ form_widget(formEdit.taxAmount) }}</th>
            </tr>
            <tr>
                <th colspan="2" class="pt-0 text-right border-0">
                    <label for="{{ formEdit.amountIncludingTax.vars.id }}" class="col-form-label">
                        {{ formEdit.amountIncludingTax.vars.label|trans }}
                    </label>
                </th>
                <th class="pt-0 border-0">{{ form_widget(formEdit.amountIncludingTax) }}</th>
            </tr>
            </tfoot>
            {{ form_widget(formEdit.details) }}
        </table>

        <div class="fixed-bottom bg-light border-top p-2 text-center">
            <button type="submit" class="btn btn-success">
                <span class="fa fa-save"></span>
                {{ 'action.save'|trans }}
            </button>
            <a href="{{ path('app_invoice_show',{uuid:invoice.uuid}) }}" class="btn btn-outline-secondary">
                <span class="fa fa-undo"></span>
                {{ 'action.cancel'|trans }}
            </a>
        </div>

        {{ form_end(formEdit) }}

    </div>

{% endblock %}
