{% extends 'tracker/base.html.twig' %}

{% block page_title %}{{ 'menu.tracker'|trans }}{% endblock %}

{% block page_menu %}
    <a href="{{ path('app_tracker_index',{refresh:1}) }}" class="btn btn-outline-primary">
        <span class="fa fa-refresh"></span>
        <span class="d-none d-md-inline">{{ 'action.refresh'|trans }}</span>
    </a>
{% endblock %}

{% block body %}

    <div id="page-tracker-index">

        <table class="table table-responsive-sm mt-4">
            <thead>
            <tr>
                <th>{{ 'field.name'|trans }}</th>
                <th>{{ 'field.project'|trans }}</th>
                <th>{{ 'field.client'|trans }}</th>
                <th>{{ 'field.date'|trans }}</th>
                <th>{{ 'field.start'|trans }}</th>
                <th>{{ 'field.stop'|trans }}</th>
                <th>{{ 'field.duration'|trans }}</th>
                <th>{{ 'field.unexpected'|trans }}</th>
                <th>{{ 'field.on_site'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.project }}</td>
                    <td>{{ task.project.client }}</td>
                    <td>{{ task.start|localizeddate('short','none') }}</td>
                    <td>{{ task.start|localizeddate('none','short') }}</td>
                    <td>{{ task.stop|localizeddate('none','short') }}</td>
                    <td>{{ task.duration|localizedduration('short') }}</td>
                    <td class="text-center">
                        {% if task.unexpected %}
                            <span class="fa fa-warning"></span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if task.onSite %}
                            <span class="fa fa-building"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
