{% extends 'stat/base.html.twig' %}

{% block body %}

    <div id="page-stat-time-chart">

        <h1>{{ 'menu.stat.time_chart'|trans }}</h1>

        <nav class="nav nav-pills mt-4">
            <a href="{{ path('app_stat_time_chart',{period:'d'}) }}"
               class="nav-link{% if 'd'==period %} active{% endif %}">
                {{ 'last_x_days'|trans({'%count%':14}) }}
            </a>
            <a href="{{ path('app_stat_time_chart',{period:'w'}) }}"
               class="nav-link{% if 'w'==period %} active{% endif %}">
                {{ 'last_x_weeks'|trans({'%count%':9}) }}
            </a>
            <a href="{{ path('app_stat_time_chart',{period:'m'}) }}"
               class="nav-link{% if 'm'==period %} active{% endif %}">
                {{ 'last_x_months'|trans({'%count%':12}) }}
            </a>
            <a href="{{ path('app_stat_time_chart',{period:'y'}) }}"
               class="nav-link{% if 'y'==period %} active{% endif %}">
                {{ 'last_x_years'|trans({'%count%':10}) }}
            </a>
        </nav>

        {% if 0!=data['series']|length %}

            <div class="chart mt-4"
                 id="chart"
                 data-categories="{{ data['categories']|json_encode }}"
                 data-series="{{ data['series']|json_encode }}"></div>

        {% else %}

            <p>{{ 'no_results_for_your_search'|trans }}</p>

        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stat-time-chart') }}
{% endblock %}
