{% extends 'client/base.html.twig' %}

{% block body %}

    <div id="page-client-show">

        <div class="d-flex flex-row align-items-center">
            <h2 class="flex-grow-1 mb-0 text-truncate">{{ client.name }}</h2>
            <div class="btn-group ml-2">
                <a href="{{ path('app_client_index') }}" class="btn btn-outline-secondary">
                    <span class="fa fa-list"></span>
                    <span class="d-none d-md-inline">{{ 'action.back'|trans }}</span>
                </a>
                <a href="{{ path('app_client_edit',{uuid:client.uuid}) }}" class="btn btn-primary">
                    <span class="fa fa-pencil"></span>
                    <span class="d-none d-md-inline">{{ 'action.edit'|trans }}</span>
                </a>
            </div>
        </div>

        <div class="row">

            <fieldset class="col-12 col-sm-6 col-md-4 mt-4">
                <legend class="pb-1 border-bottom">{{ 'informations'|trans }}</legend>
                <div class="float-right">
                    {% if client.active %}
                        <span class="small badge badge-success">{{ 'active'|trans }}</span>
                    {% else %}
                        <span class="small badge badge-light">{{ 'inactive'|trans }}</span>
                    {% endif %}
                </div>
                <div><strong>{{ client.name }}</strong></div>
                {% if client.code|length>0 %}
                    <div>{{ 'field.code'|trans }} : {{ client.code }}</div>
                {% endif %}
                {% if client.vatNumber|length>0 %}
                    <div>{{ 'field.vat_number'|trans }} : {{ client.vatNumber }}</div>
                {% endif %}
                {% if client.accountNumber|length>0 %}
                    <div>{{ 'field.account_number'|trans }} : {{ client.accountNumber }}</div>
                {% endif %}
                {% if client.comment|length>0 %}
                    <div class="small mt-2"><em>{{ client.comment }}</em></div>
                {% endif %}
                <div class="small mt-2">Created at {{ client.createdAt|localizeddate('short','short') }}</div>
                <div class="small">Last update at {{ client.updatedAt|localizeddate('short','short') }}</div>
            </fieldset>

            <fieldset class="col-12 col-sm-6 col-md-4 mt-4">
                <legend class="pb-1 border-bottom">{{ 'primary_address'|trans }}</legend>
                <div>{{ client.addressPrimary.name }}</div>
                <div>{{ client.addressPrimary.address }}</div>
                <div>{{ client.addressPrimary.postcode }} {{ client.addressPrimary.city }}</div>
                <div>{{ client.addressPrimary.country|localizedcountry }}</div>
            </fieldset>

            <fieldset class="col-12 col-sm-6 col-md-4 mt-4">
                <legend class="pb-1 border-bottom">{{ 'last_invoices'|trans }}</legend>
                {% for invoice in client.invoices|slice(0,3) %}
                    <div class="row mb-1">
                        <div class="col-4">
                            <a href="{{ path('app_invoice_show',{uuid:invoice.uuid}) }}">
                                {{ invoice.number }}
                            </a>
                        </div>
                        <div class="col-4">{{ invoice.issueDate|localizeddate('short','none') }}</div>
                        <div class="col-4">{{ invoice.amountIncludingTax|localizedcurrency(invoice.currency) }}</div>
                    </div>
                {% endfor %}
            </fieldset>

            <fieldset class="col-12 col-sm-6 col-md-4 mt-4">
                <legend class="pb-1 border-bottom">{{ 'projects'|trans }}</legend>
                {% for project in client.projects %}
                    <div class="mb-1">
                        <a href="{{ path('app_project_show',{uuid:project.uuid}) }}">
                            {{ project.name }}
                        </a>
                    </div>
                {% endfor %}
            </fieldset>

        </div>

        {% if client.invoices|length==0 %}

            <h5 class="mt-5 pb-2 border-bottom">{{ 'danger_zone'|trans }}</h5>

            <div class="mt-4">
                <a href="{{ path('app_client_delete',{uuid:client.uuid}) }}" class="btn btn-outline-danger btn-sm">
                    <span class="fa fa-trash"></span>
                    {{ 'action.delete_client'|trans }}
                </a>
            </div>

        {% endif %}

    </div>

{% endblock %}
