{% extends 'client/base.html.twig' %}

{% block page_title %}{{ client.name }}{% endblock %}

{% block page_menu %}
    <a href="{{ path('app_client_index') }}" class="btn btn-outline-secondary">
        <span class="fa fa-list"></span>
        <span class="d-none d-md-inline">{{ 'action.back'|trans }}</span>
    </a>
    <a href="{{ path('app_client_edit',{uuid:client.uuid}) }}" class="btn btn-outline-primary">
        <span class="fa fa-pencil"></span>
        <span class="d-none d-md-inline">{{ 'action.edit'|trans }}</span>
    </a>
{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-12 col-sm-6 col-lg-4">

            <div class="mt-2">
                <div class="text-muted small">{{ 'field.name'|trans }}</div>
                <div>{{ client.name }}</div>
            </div>

            {% if client.code %}
                <div class="mt-2">
                    <div class="text-muted small">{{ 'field.code'|trans }}</div>
                    <div>{{ client.code }}</div>
                </div>
            {% endif %}

            <div class="mt-2">
                <div class="text-muted small">{{ 'field.status'|trans }}</div>
                <div>
                    {% if client.active %}
                        <span class="badge badge-success">{{ 'active'|trans }}</span>
                    {% else %}
                        <span class="badge badge-light">{{ 'inactive'|trans }}</span>
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="col-12 col-sm-6 col-lg-4">

            <div class="mt-2">
                <div class="text-muted small">{{ 'primary_address'|trans }}</div>
                <div>
                    {{ client.addressPrimary.name }}<br/>
                    {{ client.addressPrimary.address|nl2br }}<br/>
                    {{ client.addressPrimary.postcode }} {{ client.addressPrimary.city }}<br/>
                    {{ client.addressPrimary.country|localizedcountry }}
                </div>
            </div>

        </div>

        <div class="col-12 col-sm-6 col-lg-4">

            {% if client.vatNumber %}
                <div class="mt-2">
                    <div class="text-muted small">{{ 'field.vat_number'|trans }}</div>
                    <div>{{ client.vatNumber }}</div>
                </div>
            {% endif %}

            {% if client.accountNumber %}
                <div class="mt-2">
                    <div class="text-muted small">{{ 'field.account_number'|trans }}</div>
                    <div>{{ client.accountNumber }}</div>
                </div>
            {% endif %}

            <div class="mt-2">
                <div class="text-muted small">{{ 'field.creation'|trans }}</div>
                <div>{{ client.createdAt|localizeddate('long','short') }}</div>
            </div>

            <div class="mt-2">
                <div class="text-muted small">{{ 'field.lastUpdate'|trans }}</div>
                <div>{{ client.updatedAt|localizeddate('long','short') }}</div>
            </div>

        </div>

    </div>

{% endblock %}
