<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}{{ application_name }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% if app.user %}
    {% include '_menu.html.twig' %}
{% endif %}
<div class="container">
    {% include '_flash_messages.html.twig' %}
    <div class="d-flex flex-row flex-wrap flex-md-nowrap align-items-center mb-4">
        <h2 class="flex-grow-1 mb-0 text-truncate mb-2 mb-md-0 mr-3">{% block page_title %}{% endblock %}</h2>
        <div class="btn-group">{% block page_menu %}{% endblock %}</div>
    </div>
    <div id="{{ app.request.get('_route')|replace({'_':'-'})|replace({'app-':'page-'}) }}">
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
