{% extends 'payment/base.html.twig' %}

{% block body %}

    <div id="page-payment-add">

        <div class="d-flex flex-row align-items-center">
            <h2 class="flex-grow-1 mb-0 text-truncate">{{ 'title.payment_add'|trans }}</h2>
            <div class="btn-group ml-2">
                <a href="{{ path('app_payment_index') }}" class="btn btn-outline-secondary">
                    <span class="fa fa-list"></span>
                    <span class="d-none d-md-inline">{{ 'action.back'|trans }}</span>
                </a>
            </div>
        </div>

        {{ form_start(formEdit,{attr:{class:'mt-4 mt-md-5'}}) }}
        {{ form_widget(formEdit) }}
        <div class="mt-5">
            <button type="submit" class="btn btn-success">
                <span class="fa fa-save"></span>
                {{ 'action.save'|trans }}
            </button>
            <a href="{{ path('app_payment_index') }}" class="btn btn-outline-secondary">
                <span class="fa fa-undo"></span>
                {{ 'action.cancel'|trans }}
            </a>
        </div>
        {{ form_end(formEdit) }}

    </div>

{% endblock %}
