{% extends 'project/base.html.twig' %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block page_menu %}
    <a href="{{ path('app_project_show',{uuid:project.uuid}) }}" class="btn btn-outline-secondary">
        <span class="fa fa-undo"></span>
        <span class="d-none d-sm-inline">{{ 'action.back'|trans }}</span>
    </a>
{% endblock %}

{% block body %}

    {{ form_start(formEdit) }}
    {{ form_widget(formEdit) }}
    <div class="mt-5">
        <button type="submit" class="btn btn-success">
            <span class="fa fa-save"></span>
            {{ 'action.save'|trans }}
        </button>
        <a href="{{ path('app_project_show',{uuid:project.uuid}) }}" class="btn btn-outline-secondary">
            <span class="fa fa-undo"></span>
            {{ 'action.cancel'|trans }}
        </a>
    </div>
    {{ form_end(formEdit) }}

{% endblock %}
