{% extends 'project/base.html.twig' %}

{% block page_title %}{{ 'title.project_list'|trans }}{% endblock %}

{% block page_menu %}
    <a href="#" class="btn btn-outline-primary">
        <span class="fa fa-plus"></span>
        <span class="d-none d-md-inline">{{ 'action.add'|trans }}</span>
    </a>
{% endblock %}

{% block body %}

    <table class="table mt-4">
        <thead>
        <tr>
            <th>{{ 'field.name'|trans }}</th>
            <th>{{ 'field.client'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('app_project_show',{uuid:project.uuid}) }}">{{ project.name }}</a></td>
                <td>{{ project.client.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
