{% extends 'project/base.html.twig' %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block page_menu %}
    <a href="{{ path('app_project_index') }}" class="btn btn-outline-secondary">
        <span class="fa fa-list"></span>
        <span class="d-none d-sm-inline">{{ 'action.back'|trans }}</span>
    </a>
    <a href="{{ path('app_project_edit',{uuid:project.uuid}) }}" class="btn btn-primary">
        <span class="fa fa-pencil"></span>
        <span class="d-none d-sm-inline">{{ 'action.edit'|trans }}</span>
    </a>
{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-12 col-sm-6 col-lg-4">

            <div class="mt-2">
                <div class="text-muted small">{{ 'field.name'|trans }}</div>
                <div>{{ project.name }}</div>
            </div>

        </div>

        <div class="col-12 col-sm-6 col-lg-4">

            <div class="mt-2">
                <div class="text-muted small">{{ 'field.client'|trans }}</div>
                <div>
                    <a href="{{ path('app_client_show',{uuid:project.client.uuid}) }}">{{ project.client.name }}</a>
                </div>
            </div>

        </div>

        <div class="col-12 col-sm-6 col-lg-4">

            <div class="mt-2">
                <div class="text-muted small">{{ 'field.status'|trans }}</div>
                <div>
                    {% if project.active %}
                        <span class="badge badge-success">{{ 'active'|trans }}</span>
                    {% else %}
                        <span class="badge badge-light">{{ 'inactive'|trans }}</span>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-6">

            <h3 class="mt-5">{{ 'rates'|trans }}</h3>

            <table class="table table-responsive-sm mt-3">
                <colgroup>
                    <col/>
                    <col/>
                    <col/>
                    <col width="1"/>
                </colgroup>
                <thead class="text-nowrap">
                <tr>
                    <th>{{ 'field.start'|trans }}</th>
                    <th>{{ 'field.on_site'|trans }}</th>
                    <th>{{ 'field.off_site'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for rate in project.rates %}
                    <tr>
                        <td>{{ rate.startedAt|localizeddate('short','none') }}</td>
                        <td>{{ rate.hourlyRateOnSite|localizedcurrency('EUR') }}</td>
                        <td>{{ rate.hourlyRateOffSite|localizedcurrency('EUR') }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('app_project_rate_edit',{uuid:rate.uuid}) }}"
                                   class="btn btn-outline-primary">
                                    <span class="fa fa-pencil"></span>
                                </a>
                                <a href="{{ path('app_project_rate_delete',{uuid:rate.uuid}) }}"
                                   class="btn btn-outline-danger">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="p-5 text-center text-muted">{{ 'no_results_for_your_search'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div>
                <a href="{{ path('app_project_rate_new',{uuid:project.uuid}) }}" class="btn btn-outline-primary">
                    <span class="fa fa-plus"></span>
                    {{ 'action.add'|trans }}
                </a>
            </div>

        </div>

    </div>

{% endblock %}
